@import "/src/styles/style.scss";

.caption {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 8px;
    border-radius: 4px;
    margin-top: 8px;
    background-color: $N10;
    font-size: 14px;
    flex-direction: column;
    align-items: flex-start;
}
