@import "/src/styles/style.scss";

.layout {
    display: flex;
    height: calc(100vh - 16px);
}

.main {
    padding: 24px;
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    margin: 8px 8px 8px 0;
    background-color: $N5;
    border-radius: 16px;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
}
