@import "/src/styles/style.scss";

.section {
    width: 100%;
    display: flex;
    gap: 8px;
    margin-top: 40px;

    &.vertical {
        flex-direction: column;
    }
}

.box {
    width: 100%;
}
