@import "/src/styles/style.scss";

.sidebar {
    width: 200px;
    height: 100%;
    background-color: $Mono-White;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    border: 1px solid $N20;
    margin: 8px;
    border-radius: 16px;
    overflow: hidden;
    padding: 8px;
    font-size: 14px;
}

.link {
    height: 36px;
    padding: 8px 12px;
    text-decoration: none;
    color: $Mono-Black;
    display: flex;
    align-items: center;
    border-radius: 8px;

    &:hover {
        background-color: $N10;
    }

    &.active {
        background-color: $N10;
        font-weight: 500;
    }
}
