@import "/src/styles/style.scss";

.sidebar {
    width: 300px;
    height: 100vh;
    background-color: $B5;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
}

.link {
    height: 36px;
    padding: 8px 12px;
    text-decoration: none;
    color: $Mono-Black;
    display: flex;
    align-items: center;

    &:hover {
        background-color: $B10;
    }
}
