@import "/src/styles/style.scss";

.box {
    width: 100%;
    background-color: $N0;
    border: 1px solid $N20;
    padding: 16px;
    border-radius: 16px;
    flex: 1 1 0;
    gap: 16px;
    box-shadow: $shadow-10;

    &-title {
        margin-bottom: 24px;
    }
}
